<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Signup!</h1>
    <form action="/signup" method="post">
      <input type="text" name="email" placeholder="enter email">
      <input type="password" name="password" placeholder="enter password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
